<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <center>
        <h2>Login</h2>
        <hr>
        <% if (error) { %>
            <p style="color: red;">
                <%= error %>
            </p>
            <% } %>
                <form method="post" action="/login">
                    <label>Email</label>
                    <br>
                    <input type="text" name="email">
                    <br>
                    <label>Password</label>
                    <br>
                    <input type="password" name="password">
                    <br>
                    <button>Submit</button>
                </form>
                <br>
                <p>Don`t have an account? <a href="/register">register</a></p>

    </center>
</body>

</html>